<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div id="container">
    <!-- <section class="titulo"></section> -->
    <img class="titulo" src="../../assets/images/Titulo.png" alt="Logo">

    <ion-slides  pager="true">

      <ion-slide>
        <div class="slide">
          <img class="ftprincipal" src="../../assets/images/Img1.png" alt="Imagem">

          <section class="subtitulo">
            <strong>Não perca mais tempo quando for fazer compras</strong>
          </section>

          <section class="texto">
            <p>Você pode achar diversas categorias de produtos facilmente com a gente e realizar tudo pelo app.</p>
          </section>

          <section class="botoes">
            <ion-button expand="block" mode="ios" size="large">Continuar</ion-button>
            <ion-button expand="block" color = "medium" mode="ios" size="large">Pular</ion-button>
          </section>
        </div>
      </ion-slide>


      <ion-slide>
        <div class="slide">
          <img class="ftprincipal" src="../../assets/images/Location_search-bro.png" alt="Imagem">

          <section class="subtitulo">
            <strong>Descubra as melhores opções próximas de você</strong>
          </section>

          <section class="texto">
            <p>Veja quais as melhores opções que existem ao seu redor e realize seu pedido de forma rápida.</p>
          </section>

          <section class="botoes">
            <ion-button expand="block" mode="ios" size="large">Continuar</ion-button>
            <ion-button expand="block" color = "medium" mode="ios" size="large">Pular</ion-button>
          </section>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
          <img class="ftprincipal" src="../../assets/images/Ecommerce_checkout_laptop-amico.png" alt="Imagem">

          <section class="subtitulo">
            <strong>Cansado de filas? Não fique mais esperando </strong>
          </section>

          <section class="texto">
            <p>Ao realizar seu pedido, evite filas e somente retire no local, rápido e facil</p>
          </section>

          <section class="botoes">
            <ion-button expand="block" mode="ios" size="large">Continuar</ion-button>
            <ion-button expand="block" color = "medium" mode="ios" size="large">Pular</ion-button>
          </section>
        </div>
      </ion-slide>

  </ion-slides>
  </div>

</ion-content>
